<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="mt-3">
                    <a href="/Message/SendMessage" class="btn create-btn text-white no-wrap d-flex align-items-center">
                        <i data-feather="plus"></i>
                        <span class="hide-menu ml-2 text-uppercase">Yeni Mesaj</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/Dashboard/Index">
                        <i data-feather="home" class="mr-2"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="mail" class="mr-2"></i>
                        <span class="hide-menu">Mailbox</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Message/Inbox" class="sidebar-link">
                                <i data-feather="inbox" class="mr-2"></i>
                                <span class="hide-menu">Gelen Kutusu</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Message/SentMessage" class="sidebar-link">
                                <i data-feather="send" class="mr-2"></i>
                                <span class="hide-menu">Gönderilen Mesajlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Message/SendMessage" class="sidebar-link">
                                <i data-feather="edit" class="mr-2"></i>
                                <span class="hide-menu">Yeni Mesaj</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/Profile/UserProfile">
                        <i data-feather="user" class="mr-2"></i>
                        <span class="hide-menu">Profil</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>