@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="page-wrapper">

    @await Component.InvokeAsync("_UserDashboardChartComponentPartial")
    

    <div class="container-fluid negative-margin">

        @await Component.InvokeAsync("_UserDashboardStatisticComponentPartial")

        @await Component.InvokeAsync("_UserDashboardProfileInformationComponentPartial")

        <div class="row mt-4">
            <div class="col-12">
                @await Component.InvokeAsync("_UserDashboardRecentMessagesComponentPartial")
            </div>
        </div>

    </div>
</div>