@model UserEditDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input type="text" asp-for="Name" placeholder="Adınız" class="form-control" />
        <br />
        <input type="text" asp-for="Surname" placeholder="Soyadınız" class="form-control" />
        <br />
        <input type="text" asp-for="Email" placeholder="Email Adresiniz" class="form-control" />
        <br />
        <input type="password" asp-for="Password" placeholder="*****" class="form-control" />
        <br />
        <input type="password" asp-for="ConfirmPassword" placeholder="*****" class="form-control" />
        <br />
        <input type="file" asp-for="Image" class="form-control" />
        <br />
        <button class="btn btn-primary">Değişiklikleri Kaydet</button>
    </form>
</div>